textarea{
    width: 800px;
    height: 700px;
    font-size: 20px;
    overflow: auto;
}

#a{
    width: 800px;
    height: 700px;
    background-color: pink;
}

#screenPlayerInfo{
    width: 800px;
    height: 700px;
    background-color: blue;
}
#b{
    width: 800px;
    height: 700px;
    background-color: yellow;
}