a{
    font-size: 400%;
}

/*방문하지 않은 링크에 적용*/
a:link{
    color:red;
}

/* 방문했던 링크에 적용 */
a:visited{
    color:orange;
}

/* 해당 요소에 마우스 오버 시 */
a:hover{
    color:yellow;
}

/* 해당 요소를 활성화 시(ex.마우스로 클릭 시) */
a:active{
    color:green;
}


/* 해당 요소에 초점을 맞출 시 */
input:focus{
    background-color: pink;
}

/* 앵커 대상에 적용 */
div>p:target {
    background-color: gray;
}
